# Ignore Dockerfile and .dockerignore as they might change during development,
# but their content should have no impact on the actual application.
# If they change and in Dockerfile is a "COPY . /src", Docker would invalidate
# caches for subsequent RUN statements (as it assumes something has changed).
Dockerfile
.dockerignore

# Ignore .git directory as it should *usually* not be needed and changes to git
# would also invalidate caches.
.git

dist
node_modules